<div class="page__section">
    <h2 class="page__title">Your contacts</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="table__title">First name</th>
            <th class="table__title">Last name</th>
            <th class="table__title">Email</th>
            <th class="table__title">Country</th>
            <th class="table__title">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table__tr"
            ng-repeat="contact in ContactsList.contacts track by $index">
            <td class="table__cell">
                {{::contact.firstName }}
            </td>
            <td class="table__cell">
                {{::contact.lastName }}
            </td>
            <td class="table__cell">
                {{::contact.email }}
            </td>
            <td class="table__cell">
                {{::contact.country }}
            </td>
            <td class="table__cell">
                <a class="link" ui-sref="main.contacts.edit({contactId: contact._id})">edit</a>
            </td>
        </tr>
    </tbody>
</table>