.button {
    border-radius: 0.3rem;
    border: 0;
    transition: background .2s ease-in;
    cursor: pointer;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.8rem;
    box-shadow: 0 0.1rem 0.2rem 0 rgba($color-shadow, 0.4);
    padding: {
        left: 3rem;
        right: 3rem;
    }

    &--primary {
        background: $color-primary;
        color: $color-btn-text;

        &:hover {
            background: $color-primary-hover;
        }
    }

    &--secondary {
        background: $color-secondary;
        color: $color-btn-text;

        &:hover {
            background: $color-secondary-hover;
        }
    }
}